.loginPage1Div {
    background: white;
    padding-bottom: 60vh;
    padding-top: 15vh;
    margin: 5;
    display: flex;
    flex-direction: column;
}

.loginPage2Divs {
    display: flex;
    justify-content: center;
}

.MuiDivider-root {
    width: 90%;
    color: grey;
    height: 2px
}